@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* For hsl(198deg 93% 60% / <alpha-value>) */
    --color-light-gray: 212deg 45% 89%;
    --color-grayish-blue: 220deg 15% 55%;
    --color-dark-blue: 218deg 44% 22%;
  }
}
